<div class="container ">
    <ng-container>
        <div class="text-center pb-3">
            <h1>Modifier la formation</h1>
        </div>
        <form  #trainingForm="ngForm" (ngSubmit)="onEditTraining()">
            <div class="form-group py-2" style="display:none;">
                <label for="id">ID de la formation :</label>
                <input type="text" class="form-control" name="id" required  [(ngModel)]="training.id" >
            </div>
            <div class="form-group py-2">
                <label for="name">Modifier le nom de la formation :</label>
                <input type="text" class="form-control" name="name" required [(ngModel)]="training.name">
            </div>
            <div class="form-group py-2">
                <label for="description">Donner une courte description de la formation :</label>
                <input type="text" class="form-control" name="description" required [(ngModel)]="training.description">
            </div>
            <div class="form-group py-2">
                <label for="price">Modifier le prix de la formation</label>
                <input type="number" class="form-control" name="price" required [(ngModel)]="training.price">
            </div>
            <button type="submit" class="btn btn-primary">Enregistrer</button>	
        </form>
    </ng-container>
</div>